# Compiled output
/dist
/tmp
/out-tsc

# Dependencies
/node_modules

# Angular build/cache
.angular/
.angular/cache

# Python cache
__pycache__/
*.py[cod]

# Shell scripts
*.sh

# Environment and database
.env
postgres_data/
migration_data/
trainning/data/
# Logs
*.log


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Miscellaneous
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/docs

# e2e output
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

*.csv
*.7z
*.zip
*.log
venv
backend/supervisord.log