<!-- src/app/pages/server-dashboard/server-dashboard.component.html -->
<nb-card>
  <nb-tabset fullWidth (changeTab)="onTabChange($event)">
    <nb-tab *ngFor="let tab of tabService.serverTabs$ | async" 
            [tabId]="tab.id" 
            [tabTitle]="tab.title">
      
      <nb-tabset fullWidth (changeTab)="onSubTabChange($event.tabId, tab)">
        <nb-tab *ngFor="let subTab of tab.subTabs" 
                [tabTitle]="subTab.title" 
                [route]="subTab.route"
                [active]="tab.activeSubTab === subTab.id">
          <router-outlet></router-outlet>
        </nb-tab>
      </nb-tabset>
      
    </nb-tab>
  </nb-tabset>
</nb-card>