<!-- src/app/pages/historic/historic.component.html -->
<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h1>Historical System Metrics</h1>
            <p class="text-hint mb-0">Analyze system performance over time</p>
          </div>
          <!-- src/app/pages/historic/historic.component.html -->
          <div class="date-range-picker">
            <form [formGroup]="dateRange">
              <nb-form-field>
                <input
                  nbInput
                  placeholder="Start Date"
                  formControlName="start"
                  [nbDatepicker]="picker"
                />
              </nb-form-field>

              <nb-form-field>
                <input
                  nbInput
                  placeholder="End Date"
                  formControlName="end"
                  [nbDatepicker]="picker"
                />
              </nb-form-field>

              <nb-datepicker #picker></nb-datepicker>

              <button nbButton status="primary" (click)="loadHistoricalData()">
                <nb-icon icon="refresh-outline"></nb-icon> Load Data
              </button>
            </form>
          </div>
        </div>
      </nb-card-header>
    </nb-card>
  </div>
</div>

<!-- Charts -->
<div class="row">
  <div class="col-lg-6 col-md-12">
    <nb-card>
      <nb-card-header>CPU Usage History</nb-card-header>
      <nb-card-body>
        <div echarts [options]="cpuChartOption" class="chart"></div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6 col-md-12">
    <nb-card>
      <nb-card-header>Memory Usage History</nb-card-header>
      <nb-card-body>
        <div echarts [options]="memoryChartOption" class="chart"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <nb-card>
      <nb-card-header>Disk Read History</nb-card-header>
      <nb-card-body>
        <div echarts [options]="diskReadChartOption" class="chart"></div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6 col-md-12">
    <nb-card>
      <nb-card-header>Disk Write History</nb-card-header>
      <nb-card-body>
        <div echarts [options]="diskWriteChartOption" class="chart"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <nb-card>
      <nb-card-header>Network Packets History</nb-card-header>
      <nb-card-body>
        <div echarts [options]="networkPacketsChartOption" class="chart"></div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6 col-md-12">
    <nb-card>
      <nb-card-header>Network Errors History</nb-card-header>
      <nb-card-body>
        <div echarts [options]="networkErrorsChartOption" class="chart"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
